<footer class="footer bg-white">

  <!-- Footer Top Area -->
  <div class="footer-toparea">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-12">
          <div class="footer-widget widget-info">
            <h5 class="footer-widget-title">Контакты</h5>
            <ul>
              <li><i class="ion ion-ios-pin"></i> 050040 г. Алматы, ул. Манаса 34/1</li>
              <li><i class="ion ion-ios-call"></i> Телефон: +7 7071230022</li>
              <li><i class="ion ion-ios-print"></i> Fax: +7 7071230022</li>
              <li><i class="ion ion-ios-mail"></i> Email: <a href="#">info@muit.kz</a></li>
            </ul>
          </div>
        </div>

        <div class="col-lg-2 col-md-4">
          <div class="footer-widget widget-links">
            <h5 class="footer-widget-title">Товары</h5>
            <ul>
              <li><a href="#">Падение цен</a></li>
              <li><a href="#">Новые продукты</a></li>
              <li><a href="#">Лучшие продажи</a></li>
              <li><a href="#">Контакты</a></li>
              <li><a href="#">Авторизоваться</a></li>
              <li><a href="#">Мой аккаунт</a></li>
            </ul>
          </div>
        </div>

        <div class="col-lg-2 col-md-4">
          <div class="footer-widget widget-links">
            <h5 class="footer-widget-title">Наша компания</h5>
            <ul>
              <li><a href="#">Доставка</a></li>
              <li><a href="#">Официальное уведомление</a></li>
              <li><a href="#">О нас</a></li>
              <li><a href="#">Безопасная оплата</a></li>
              <li><a href="#">Карта сайта</a></li>
              <li><a href="#">Магазины</a></li>
            </ul>
          </div>
        </div>

        <div class="col-lg-2 col-md-4">
          <div class="footer-widget widget-links">
            <h5 class="footer-widget-title">Ваш счет</h5>
            <ul>
              <li><a href="#">Личная информация</a></li>
              <li><a href="#">Заказы</a></li>
              <li><a href="#">Кредитные слипы</a></li>
              <li><a href="#">Адреса</a></li>
              <li><a href="#">Мои списки желаний</a></li>
            </ul>
          </div>
        </div>

        <div class="col-lg-3 col-12">
          <div class="footer-widget widget-customerservice">
            <div class="info">
              <h5 class="footer-widget-title">ОБСЛУЖИВАНИЕ КЛИЕНТОВ</h5>
              <h5>ОТПРАВИТЬ ПИСЬМО</h5>
              <h5>ГОРЯЧАЯ ЛИНИЯ: : <a href="#">+7 7071230022</a></h5>
              <h6>8:00 утра - 5:30 вечера ПН-Пт</h6>
            </div>
            <div class="payment">
              <h6>БЕЗОПАСНАЯ ОПЛАТА VISA</h6>
              <img src="/assets/images/payment.png" alt="footer payment">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--// Footer Top Area -->

  <!-- Footer Bottom -->
  <div class="footer-bottomarea">
    <div class="container">
      <div class="footer-copyright">
        <p class="copyright">Copyright &copy; <a href="#">MUIT</a> . Все права защищены</p>
      </div>
    </div>
  </div>
  <!--// Footer Bottom -->

</footer>
