
<!-- My Account Page -->
<div class="my-account-area ptb-30">

  <div class="container">
    <div class="row">
      <div class="m-1">

        <button class="btn m-1"  [ngClass]="{'btn-primary' : isCompany , 'btn-outline-primary' : !isCompany}" (click)="isCompany = true">Компания</button>

        <button class="btn m-1" [ngClass]="{'btn-primary' : !isCompany , 'btn-outline-primary' : isCompany}" (click)="isCompany = false">Физ лицо</button>
      </div>

      <div class="col-lg-12" *ngIf="isCompany">
        <h5>РЕГИСТРАЦИЯ КОМПАНИИ</h5>
        <div class="login-form-wrapper">
          <form action="#" class="ho-form ho-form-boxed " [formGroup]="companyForm">
            <div class="ho-form-inner">
              <div class="single-input single-input-half">
                <label for="sellerCompanyBin">БИН компании *</label>
                <input type="text" formControlName="sellerCompanyBin" id="sellerCompanyBin">
                <!--<span *ngIf="companyForm.controls['bin'].errors?.required && companyForm.controls['bin'].invalid && (companyForm.controls['bin'].dirty || companyForm.controls['bin'].touched)" class="text-danger">-->
                  <!--БИН компании *-->
                <!--</span>-->
                <div *ngIf="companyForm.controls['sellerCompanyBin'].errors?.required">
                  sellerCompanyBin is required
                </div>
                <div *ngIf="companyForm.controls['sellerCompanyBin'].errors?.pattern">
                  sellerCompanyBin must length of 12
                </div>
              </div>


              <div class="single-input single-input-half">
                <label for="sellerCompanyPhone">Рабочий телефон *</label>
                <input formControlName="sellerCompanyPhone" type="text" id="sellerCompanyPhone">
                <div *ngIf="companyForm.controls['sellerCompanyPhone'].errors?.required">
                  sellerCompanyPhone is required
                </div>
              </div>
              <div class="single-input single-input-half">
                <label for="sellerCompanyMobilePhone">Мобильный телефон *</label>
                <input formControlName="sellerCompanyMobilePhone" type="text" id="sellerCompanyMobilePhone">
                <div *ngIf="companyForm.controls['sellerCompanyMobilePhone'].errors?.required">
                  sellerCompanyMobilePhone is required
                </div>
              </div>

              <div class="single-input single-input-half">
                <label for="username">Логин компании *</label>
                <input formControlName="username" type="text" name="login_company" id="username">
                <div *ngIf="companyForm.controls['username'].errors?.required">
                  username is required
                </div>
              </div>
              <div class="single-input single-input-half">
                <label for="sellerCompanyNameKk">Наименование компании kz*</label>
                <input formControlName="sellerCompanyNameKk" type="text" id="sellerCompanyNameKk">
                <div *ngIf="companyForm.controls['sellerCompanyNameKk'].errors?.required">
                  sellerCompanyNameKk is required
                </div>
              </div>
              <div class="single-input single-input-half">
                <label for="sellerCompanyNameRu">Наименование компании ru*</label>
                <input formControlName="sellerCompanyNameRu" type="text" id="sellerCompanyNameRu">
                <div *ngIf="companyForm.controls['sellerCompanyNameRu'].errors?.required">
                  sellerCompanyNameRu is required
                </div>
              </div>
              <div class="single-input single-input-half">
                <label for="sellerCompanyNameEn">Наименование компании en*</label>
                <input formControlName="sellerCompanyNameEn" type="text"  id="sellerCompanyNameEn">
                <div *ngIf="companyForm.controls['sellerCompanyNameEn'].errors?.required">
                  sellerCompanyNameEn is required
                </div>
              </div>
              <div class="single-input single-input-half">
                <label for="sellerCompanyEmail">Email почта *</label>
                <input formControlName="sellerCompanyEmail" type="text" name="sellerCompanyEmail" id="sellerCompanyEmail">
                <div *ngIf="companyForm.controls['sellerCompanyEmail'].errors?.required">
                  sellerCompanyEmail is required
                </div>
                <div *ngIf="companyForm.controls['sellerCompanyEmail'].errors?.email">
                  sellerCompanyEmail must be an eamil
                </div>
              </div>

              <div class="single-input single-input-half">
                <label for="password">Пароль компании *</label>
                <input formControlName="password" type="text" name="password" id="password">
                <div *ngIf="companyForm.controls['password'].errors?.required">
                  password is required
                </div>
              </div>
              <div class="single-input single-input-half">
                <label for="repassword">Подтверждение пароля *</label>
                <input formControlName="repassword" type="text" id="repassword">
                <div *ngIf="companyForm.controls['repassword'].errors?.required">
                  repassword is required
                </div>
                <div *ngIf="companyForm.controls['repassword'].errors?.mustMatch">
                  Passwords must match
                </div>
              </div>

              <div class="single-input">
                <button [disabled]="!companyForm.valid" (click)="addCompany()"
                        [ngClass]="{'disabled' : !companyForm.valid}" class="btn btn-success">
                  <span>Регистрация</span>
                </button>
              </div>

            </div>
          </form>
        </div>
      </div>


      <div class="col-lg-12" *ngIf="!isCompany">
        <h5>РЕГИСТРАЦИЯ ФИЗ.ЛИЦ</h5>
        <div class="login-form-wrapper">
          <form action="#" class="ho-form ho-form-boxed">
            <div class="ho-form-inner">
              <div class="single-input single-input-half">
                <label for="company_name">Наименование компании *</label>
                <input type="text" name="company_name" id="company_name">
              </div>
              <div class="single-input">
                <button (click)="addCustomer()" type="submit" class="ho-button ho-button-dark">
                  <span>Регистрация</span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!--// Registr Form -->



    </div>
  </div>
</div>
<!--// My Account Page -->
