<div class="my-account-area ptb-30">

    <div class="container">
      <div class="row">

  <div class="col-lg-12" >
    <h5>Добавления  товаров</h5>
    <div class="login-form-wrapper">
      <form action="#" class="ho-form ho-form-boxed " [formGroup]="productForm" >
        <div class="ho-form-inner">
            <div class="single-input single-input-half">
                <label for="categoryId">ID категории</label>
                <input type="text" formControlName="categoryId" id="categoryId">
                <div class="text-danger" *ngIf="productForm.controls['categoryId'].errors?.required && !productForm.controls['categoryId'].pristine">
                  необходимо ввести ID категории                </div>
              </div>
          <div class="single-input single-input-half">
            <label for="description">Описание товара</label>
            <input type="text" formControlName="description" id="description">
            <div class="text-danger" *ngIf="productForm.controls['description'].errors?.required && !productForm.controls['description'].pristine">
              необходимо ввести описание                </div>
          </div>

          <div class="single-input single-input-half">
            <label for="productId">ID продукта</label>
            <input formControlName="productId" type="text" id="productId">
            <div class="text-danger" *ngIf="productForm.controls['productId'].errors?.required && !productForm.controls['productId'].pristine">
              необходимо ввести ID продукта               </div>

          </div>
          <div class="single-input single-input-half">
            <label for="productNameEn">Наименование товара  en*</label>
            <input formControlName="productNameEn" type="text" id="productNameEn">
            <div class="text-danger" *ngIf="productForm.controls['productNameEn'].errors?.required && !productForm.controls['productNameEn'].pristine">
              необходимо ввести наименование                </div>
          </div>
          <div class="single-input single-input-half">
            <label for="productNameKk">Наименование товара kz*</label>
            <input formControlName="productNameKk" type="text"  id="productNameKk">
            <div class="text-danger" *ngIf="productForm.controls['productNameKk'].errors?.required && !productForm.controls['productNameKk'].pristine">
              необходимо ввести наименование                </div>
          </div>
          <div class="single-input single-input-half">
              <label for="productNameRu">Наименование товара ru*</label>
              <input formControlName="productNameRu" type="text"  id="productNameRu">
              <div class="text-danger" *ngIf="productForm.controls['productNameRu'].errors?.required && !productForm.controls['productNameRu'].pristine">
                необходимо ввести наименование                </div>
            </div>
            <div class="single-input single-input-half">
                <label for="sellerCategoryId">ID категории продавца*</label>
                <input formControlName="sellerCategoryId" type="text"  id="sellerCategoryId">
                <div class="text-danger" *ngIf="productForm.controls['sellerCategoryId'].errors?.required && !productForm.controls['sellerCategoryId'].pristine">
                  необходимо ввести ID категории продавца               </div>
              </div>
              <div class="single-input single-input-half">
                  <label for="sellerCompanyId">ID компании продавца*</label>
                  <input formControlName="sellerCompanyId" type="text"  id="sellerCompanyId">
                  <div class="text-danger" *ngIf="productForm.controls['sellerCompanyId'].errors?.required && !productForm.controls['sellerCompanyId'].pristine">
                    необходимо ввести ID компании продавца                </div>
                </div>
                <div class="single-input single-input-half">
                    <label for="specialCharacteristicsId">ID характеристики*</label>
                    <input formControlName="specialCharacteristicsId" type="text"  id="specialCharacteristicsId">
                    <div class="text-danger" *ngIf="productForm.controls['specialCharacteristicsId'].errors?.required && !productForm.controls['specialCharacteristicsId'].pristine">
                      необходимо ввести ID характеристики               </div>
                  </div>
                  <div class="single-input single-input-half">
                      <label for="subCategoryId">ID подкатегории*</label>
                      <input formControlName="subCategoryId" type="text"  id="subCategoryId">
                      <div class="text-danger" *ngIf="productForm.controls['subCategoryId'].errors?.required && !productForm.controls['subCategoryId'].pristine">
                        необходимо ввести ID подкатегории               </div>
                    </div>


          <div class="single-input">
            <button [disabled]="!productForm.valid" (click)="addProduct()"
                    [ngClass]="{'disabled' : !productForm.valid}" class="btn btn-success">
              <span>Добавить</span>
            </button>
          </div>

        </div>
      </form>
    </div>
  </div>






  </div>
  </div>
  </div>
