
<div class="my-account-area ptb-30">

  <div class="container">
    <div class="row">

<div class="col-lg-12" >
  <h5>Изменить страну</h5>
  <div class="login-form-wrapper">
    <form action="#" class="ho-form ho-form-boxed " [formGroup]="editFormCountry" (ngSubmit)="onSubmit()" >
      <div class="ho-form-inner">


        <div class="single-input single-input-half">
          <label for="countryNameEn">Наименование компании en*</label>
          <input formControlName="countryNameEn" type="text" id="countryNameEn">


        </div>
        <div class="single-input single-input-half">
          <label for="countryNameKk">Наименование компании Kz*</label>
          <input formControlName="countryNameKk" type="text" id="countryNameKk">

        </div>
        <div class="single-input single-input-half">
          <label for="countryNameRu">Наименование компании kz*</label>
          <input formControlName="countryNameRu" type="text"  id="countryNameRu">

        </div>



        <div class="single-input">
          <button   class="btn btn-success">
            <span>Изменить</span>
          </button>
        </div>

      </div>
    </form>
  </div>
</div>






</div>
</div>
</div>
