<app-nav></app-nav>


<!-- Page Conttent -->
<main class="page-content">




  <router-outlet>

  </router-outlet>


  <!-- Features Area -->
  <div class="ho-section features-area bg-white ptb-30">
    <div class="container">
      <div class="row">

        <!-- Single Feature -->
        <div class="col-lg-3 col-md-6 col-12">
          <div class="featurebox">
            <i class="flaticon-shipped"></i>
            <h5>Бесплатная доставка</h5>
            <p>Бесплатная доставка на все заказы США или заказ выше 200 долларов</p>
          </div>
        </div>
        <!--// Single Feature -->

        <!-- Single Feature -->
        <div class="col-lg-3 col-md-6 col-12">
          <div class="featurebox">
            <i class="flaticon-support-1"></i>
            <h5>Поддержка 24/7</h5>
            <p>Свяжитесь с нами 24 часа в сутки, 7 дней в неделю</p>
          </div>
        </div>
        <!--// Single Feature -->

        <!-- Single Feature -->
        <div class="col-lg-3 col-md-6 col-12">
          <div class="featurebox">
            <i class="flaticon-money-back"></i>
            <h5>60-дневный возврат</h5>
            <p>Если вам это не нравится, у вас есть 60 дней, чтобы вернуть его.</p>
          </div>
        </div>
        <!--// Single Feature -->

        <!-- Single Feature -->
        <div class="col-lg-3 col-md-6 col-12">
          <div class="featurebox">
            <i class="flaticon-credit-card"></i>
            <h5>100% оплата безопасна</h5>
            <p>Мы гарантируем безопасную оплату с VISA</p>
          </div>
        </div>
        <!--// Single Feature -->

      </div>
    </div>
  </div>
  <!--// Features Area -->







</main>
<!--// Page Conttent -->



<app-footer></app-footer>
