<!-- My Account Page -->
<div class="my-account-area ptb-30">
  <div class="container">
    <div class="row">


      <!-- Register Form -->
      <div class="col-lg-12">
        <h5>ВХОД</h5>
        <div class="login-form-wrapper">
          <form action="#" class="ho-form ho-form-boxed">
            <div class="ho-form-inner">
              <div class="single-input single-input-half">
                <label for="login_company">Логин *</label>
                <input type="text" name="login_company" id="login_company">
              </div>
              <div class="single-input single-input-half">
                <label for="login-form-password">Пароль *</label>
                <input type="password" name="login-form-password" id="login-form-password">
              </div>
              <div class="single-input">
                <button type="submit" class="ho-button ho-button-dark mr-3">
                  <span>Войти</span>
                </button>
                <div class="checkbox-input">
                  <input type="checkbox" name="login-form-remember" id="login-form-remember">
                  <label for="login-form-remember">Запомни меня</label>
                </div>
              </div>
              <div class="single-input">
                <a href="#">Забыли пароль?</a>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!--// Registr Form -->



    </div>
  </div>
</div>
<!--// My Account Page -->

<!-- Newsletter Area -->
<div class="ho-section newsletter-area bg-grey ptb-50">
  <div class="container">
    <div class="newsletter">
      <div class="newsletter-title">
        <h2>Подписывайтесь на нашу <span>новостную рассылку!</span></h2>

      </div>
      <div class="newsletter-content">
        <form id="mc-form" class="newsletter-form">
          <input id="mc-email" type="email" autocomplete="off" placeholder="введите ваш email...">
          <button id="mc-submit" type="submit">Подписываться</button>
        </form>
        <!-- mailchimp-alerts start -->
        <div class="mailchimp-alerts text-centre">
          <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
          <div class="mailchimp-success"></div><!-- mailchimp-success end -->
          <div class="mailchimp-error"></div><!-- mailchimp-error end -->
        </div><!-- mailchimp-alerts end -->
      </div>
      <div class="newsletter-socialicons socialicons socialicons-radial">
        <ul>
          <li><a href="#"><i class="ion ion-logo-facebook"></i></a></li>
          <li><a href="#"><i class="ion ion-logo-twitter"></i></a></li>
          <li><a href="#"><i class="ion ion-logo-youtube"></i></a></li>
          <li><a href="#"><i class="ion ion-logo-google"></i></a></li>
          <li><a href="#"><i class="ion ion-logo-instagram"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
